# Ignorar archivos del sistema de macOS
.DS_Store

# Ignorar bases de datos SQLite
*.sqlite3
*.db

# Ignorar archivos de configuración de MySQL (si son archivos específicos)
*.sql

# Ignorar carpetas de entorno virtual
venv/
__pycache__/
*.pyc
*.py[cod]

