# Ignorar bases de datos SQLite
*.sqlite3
*.db

# Ignorar archivos de configuración de MySQL (si son archivos específicos)
*.sql

# Ignorar carpetas de entorno virtual
venv/
__pycache__/
*.pyc
*.py[cod]

# Archivos generados por Mac
.DS_Store

# Excluir .env
.env
backend/.env

*.log

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos estáticos generados por Django collectstatic
staticfiles/

# Archivos de anotaciones
*.txt

